<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Update
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  		
		<ion-item>
		<ion-label position="floating">Name: </ion-label>
			<ion-input placeholder="Name" [(ngModel)]="customer.name"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label position="floating">Email: </ion-label>
			<ion-input placeholder="Email" [(ngModel)]="customer.email"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label position="floating">Address: </ion-label>
			<ion-input placeholder="Address" [(ngModel)]="customer.address"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label position="floating">Phone: </ion-label>
			<ion-input placeholder="Phone" [(ngModel)]="customer.phone"></ion-input>
		</ion-item>		
		<ion-button shape="round" expand="full" (click)="updateCustomer(customer)"><b>Update</b></ion-button>
	</ion-content>

