<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label position="floating">Username:</ion-label>
			<ion-input placeholder="Enter Username" [(ngModel)]="username"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label position="floating">Password:</ion-label>
			<ion-input placeholder="Enter Password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<ion-button shape="round" expand="full" (click)="onLogin()"><b>Sign In</b></ion-button>
</ion-content>

